.card {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #e6eaeb;
  font-size: 16px;
}

.card-body{
  vertical-align: bottom;
  min-height: 100px;
}

.card-header{
  color: #003049;
  padding: 0px;
}

.navbar{
  background-color: #e63946;
  margin-bottom: 0px;
}

.navbar-header{
  vertical-align: middle;
  padding: 10px;
}

.header{
  background-image: url(../images/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  padding: 10px;
}

.header-text{
  text-align: center;
  color: #003049;
  position: relative;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 600;
}

.source{
  padding-top: 20px;
}

.btn-primary{
background-color: #f77f00;
}

@media only screen and (max-width: 1200px){
  .card-body{
    min-height: 220px;
    max-height: 220px;
  }
}
@media only screen and (max-width: 600px){
  .card-body{
    min-height: 200px;
  }
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
}
