<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to Newsfetch</title>
      {% endif %}
    </head>
    <body>
    
      <div class="container">

        article card
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{article.image}}) no-repeat center center">
            </div>
    
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
                <h3>{{article.title }}</h3>
    
                <p class="description"> {{ article.description}}</p>
                <p class="source"> <b> Published at: {{ article.time }}</b> - <i>{{article.url}} Visit article </i> </p>
    
    
            </div>
        </div>

    </body>
</html>


