{% macro displaySourceList(source_list) %}

{% for source in source_list %}
<li>{{ source.name}}</li>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
  <li class="text-center">
      <a href="/{{source.id}}">{{source.name}}</a>
  </li>
</div>
{% endfor %}

{% endmacro %}

{% macro displayArticleList(article_list) %}

{% for articles in article_list %}
<h3>{{ articles.title}}</h3>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
  <img src="{{ articles.image }}" alt="{{ articles.title }} poster" class="img-responsive">
  {{articles.description}}
  <a href="{{articles.article_url}}">Read article</a>

</div>
{% endfor %}

{% for article in article_list %}
<h3>{{ article.title}}</h3>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
  <img src="{{ article.image }}" alt="{{ article.title }} poster" class="img-responsive">
  {{article.description}}
  <a href="{{article.article_url}}">Read article</a>

</div>
{% endfor %}

{% endmacro %}

