{% macro displaySourceList(source_list) %}

{% for source in source_list %}
<li>{{ source.name}}</li>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
  <li class="text-center">
      <a href="/{{source.id}}">{{source.name}}</a>
  </li>
</div>
{% endfor %}

{% endmacro %}


{% macro displayArticleList(article_list) %}
{% for article in article_list %}
<li>{{ article.title}}</li>
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
  <li class="text-center">
      <a href="/{{article.url}}">{{article.time}}</a>
  </li>
</div>
{% endfor %}

{% endmacro %}