{% macro displaySourceList(source_list) %}

{% for source in source_list %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header" style="height: 50px;">
        <h5 class="card-title">{{source.name}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">{{source.description}}</p>
      </div>
      <div class="card-footer" style="height: 50px;">
        <a href="/{{source.id}}" class="btn btn-primary">See articles</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endmacro %}

<!--articles-->
{% macro displayArticleList(article_list) %}

  {% for articles in article_list %}
      <div class="col-md-4 px-0">
        <div class="card-article">
          <img src="{{articles.image}}" class="img-responsive" alt="{{articles.title}} image">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: 600;">{{articles.title}}</h4>
            <p class="card-text">{{articles.description}}</p>
            <div class="card-footer">
                <a href="{{articles.article_url}}" class="btn btn-primary">Go to article</a>
                <p>Posted on: {{articles.time}}</p>
            </div>
          </div>
        </div>
      </div>

  {% endfor %}

{% endmacro %}

